Zoho project/zoho_project_wf.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "body": "refresh_token=1000.913fd6d9f40eac78498083c3e73e6d26.cf52b96d3bf2c907d4e1ca6b55172a2d&client_id=1000.Q0CVV3YGK1JWCURXZ9GJO6V6QYAU4X&client_secret=38924cb6cf753d66ba93f25a7e961c4179e31c8ad4&redirect_uri=urn:ietf:wg:oauth:2.0:oob&grant_type=refresh_token"
        },
        "externalReferences": {
          "connection": "a7ed7f9a-6616-4aaa-8147-136fd568b941"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "zoho auth",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "additionalHeaders": {
              "Authorization": {
                "value": "@concat('Zoho-oauthtoken ',activity('zoho auth').output)",
                "type": "Expression"
              }
            },
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": "/api/v3/portals"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5ebc8e8f-66af-4d60-9433-e95f2c18893d"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "JsonSink",
            "formatSettings": {
              "type": "JsonWriteSettings"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Json",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": "portals"
                }
              },
              "schema": {},
              "linkedService": {
                "name": "zohoprojects_LH",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "38198994-d512-91dc-4ad0-abc450678194",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Pull portals data",
        "dependsOn": [
          {
            "activity": "zoho auth",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}