pipeline11_copy1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "WebActivity",
        "typeProperties": {
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "body": "refresh_token=1000.913fd6d9f40eac78498083c3e73e6d26.cf52b96d3bf2c907d4e1ca6b55172a2d&client_id=1000.Q0CVV3YGK1JWCURXZ9GJO6V6QYAU4X&client_secret=38924cb6cf753d66ba93f25a7e961c4179e31c8ad4&redirect_uri=urn:ietf:wg:oauth:2.0:oob&grant_type=refresh_token"
        },
        "externalReferences": {
          "connection": "a7ed7f9a-6616-4aaa-8147-136fd568b941"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "zoho auth",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "additionalHeaders": {
              "Authorization": {
                "value": "@concat('Zoho-oauthtoken ',activity('zoho auth').output.access_token)",
                "type": "Expression"
              }
            },
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": "/api/v3/portals "
              },
              "schema": [],
              "externalReferences": {
                "connection": "b00a9678-3a5f-4812-80fa-34452965e322"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "fileExtension": ".txt"
            },
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "DelimitedText",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": "_zoho_projects_",
                  "fileName": "portal_info"
                },
                "columnDelimiter": ",",
                "quoteChar": "\"",
                "escapeChar": "\\",
                "firstRowAsHeader": true
              },
              "schema": [],
              "linkedService": {
                "name": "LF2",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "0eeef9c9-cdc5-a852-4347-4d5198eb94b0",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Portal",
        "dependsOn": [
          {
            "activity": "zoho auth",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "requestMethod": "GET",
            "additionalHeaders": {
              "Authorization": {
                "value": "@concat('Zoho-oauthtoken ',activity('zoho auth').output.access_token)",
                "type": "Expression"
              }
            },
            "paginationRules": {
              "supportRFC5988": "true"
            },
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "datasetSettings": {
              "type": "RestResource",
              "typeProperties": {
                "relativeUrl": "/api/v3/portal/771456286/users"
              },
              "schema": [],
              "externalReferences": {
                "connection": "5ebc8e8f-66af-4d60-9433-e95f2c18893d"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "Append",
            "applyVOrder": true,
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "users_expt"
              },
              "schema": [],
              "linkedService": {
                "name": "lh_zoho_projects",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "8c795c8b-a0bd-aef4-4df6-f4b07c8e3de7",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            },
            "columnFlattenSettings": {
              "treatArrayAsString": false,
              "treatStructAsString": false,
              "flattenColumnDelimiter": "."
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Users",
        "dependsOn": [
          {
            "activity": "Portal",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "value": {
        "type": "String"
      }
    }
  }
}